# SPDX-FileCopyrightText: 2025 Enedis Smarties team <dt-dsi-nexus-lab-smarties@enedis.fr>
# SPDX-FileContributor: Jehan BOUSCH
#
# SPDX-License-Identifier: Apache-2.0

mkdocs>=1.5.0
mkdocs-material>=9.0.0
mkdocs-static-i18n>=1.2.0
mkdocs-puml>=1.1.0